<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_Shipping>
            <version>2.4.9</version>
        </Iparcel_Shipping>
    </modules>
    <crontab>
        <jobs>
            <iparcel_catalog_mapping>
                <run>
                    <model>shippingip/catalog_mapping::sync</model>
                </run>
            </iparcel_catalog_mapping>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <ship>
                <use>standard</use>
                <args>
                    <module>Iparcel_Shipping</module>
                    <frontName>shippingip</frontName>
                </args>
            </ship>
        </routers>
        <layout>
            <updates>
                <shippingip>
                    <file>externalshipping.xml</file>
                </shippingip>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shippingip after="Mage_Adminhtml">Iparcel_Shipping_Adminhtml</shippingip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shippingip>
                    <file>externalsales.xml</file>
                </shippingip>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <catalog_mapping>
                                            <title>i-parcel Catalog Mapping</title>
                                        </catalog_mapping>
                                        <salesrules>
                                            <title>i-parcel Sales Rules Synchronization</title>
                                        </salesrules>
                                        <external_api>
                                            <title>i-parcel External API</title>
                                        </external_api>
                                        <iparcel>
                                            <title>i-parcel Configuration</title>
                                        </iparcel>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <shippingip>
                <class>Iparcel_Shipping_Model</class>
                <resourceModel>shippingip_resource</resourceModel>
            </shippingip>
            <shippingip_resource>
                <class>Iparcel_Shipping_Model_Resource</class>
                <entities>
                    <api_order>
                        <table>iparcel_shipping_api_order</table>
                    </api_order>
                    <cpf>
                        <table>iparcel_shipping_cpf</table>
                    </cpf>
                    <cpf_order>
                        <table>iparcel_shipping_cpf_order</table>
                    </cpf_order>
                    <cpf_quote>
                        <table>iparcel_shipping_cpf_quote</table>
                    </cpf_quote>
                    <parcel>
                        <table>iparcel_shipping_parcel</table>
                    </parcel>
                    <tax_totals>
                        <table>iparcel_shipping_tax_totals</table>
                    </tax_totals>
                </entities>
            </shippingip_resource>
            <tax>
                <rewrite>
                    <calculation>Iparcel_Shipping_Model_Tax_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Catalog_Product_Observer</class>
                        <method>product_save</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Catalog_Product_Observer</class>
                        <method>product_massUpdate</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_delete_before>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Catalog_Product_Observer</class>
                        <method>product_delete</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_delete_before>
            <sales_order_load_after>
                <observers>
                    <iparcel_sales_order_load_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Order_Observer</class>
                        <method>after_load</method>
                    </iparcel_sales_order_load_after_observer>
                </observers>
            </sales_order_load_after>
            <sales_order_place_after>
                <observers>
                    <iparcel_sales_order_place_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Order_Observer</class>
                        <method>after_place</method>
                    </iparcel_sales_order_place_after_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_save_before>
                <observers>
                    <iparcel_sales_order_save_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Order_Observer</class>
                        <method>before_save</method>
                    </iparcel_sales_order_save_before_observer>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <iparcel_sales_order_save_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Order_Observer</class>
                        <method>after_save</method>
                    </iparcel_sales_order_save_after_observer>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_save_before>
                <observers>
                    <iparcel_sales_order_shipment_save_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Order_Shipment_Observer</class>
                        <method>before_save</method>
                    </iparcel_sales_order_shipment_save_before_observer>
                </observers>
            </sales_order_shipment_save_before>
            <sales_quote_load_after>
                <observers>
                    <iparcel_sales_quote_load_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Quote_Observer</class>
                        <method>after_load</method>
                    </iparcel_sales_quote_load_after_observer>
                </observers>
            </sales_quote_load_after>
            <sales_quote_save_after>
                <observers>
                    <iparcel_sales_quote_save_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Quote_Observer</class>
                        <method>after_save</method>
                    </iparcel_sales_quote_save_after_observer>
                </observers>
            </sales_quote_save_after>
            <sales_quote_save_before>
                <observers>
                    <iparcel_sales_quote_save_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Sales_Quote_Observer</class>
                        <method>before_save</method>
                    </iparcel_sales_quote_save_before_observer>
                </observers>
            </sales_quote_save_before>
            <model_load_before>
                <observers>
                    <iparcel_model_load_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Observer</class>
                        <method>createCheckState</method>
                    </iparcel_model_load_before_observer>
                </observers>
            </model_load_before>
            <adminhtml_cache_refresh_type>
                <observers>
                    <iparcel_adminhtml_cache_refresh_type_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Observer</class>
                        <method>removeExtendFile</method>
                    </iparcel_adminhtml_cache_refresh_type_observer>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_all>
                <observers>
                    <iparcel_adminhtml_cache_flush_all_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Observer</class>
                        <method>removeExtendFile</method>
                    </iparcel_adminhtml_cache_flush_all_observer>
                </observers>
            </adminhtml_cache_flush_all>
            <adminhtml_cache_flush_system>
                <observers>
                    <iparcel_adminhtml_cache_flush_system_observer>
                        <type>singleton</type>
                        <class>Iparcel_Shipping_Model_Observer</class>
                        <method>removeExtendFile</method>
                    </iparcel_adminhtml_cache_flush_system_observer>
                </observers>
            </adminhtml_cache_flush_system>
        </events>
        <resources>
            <shippingip_setup>
                <setup>
                    <module>Iparcel_Shipping</module>
                    <class>Iparcel_Shipping_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippingip_setup>
            <shippingip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippingip_write>
            <shippingip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippingip_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view_form>Iparcel_Shipping_Block_Adminhtml_Sales_Order_Shipment_View_Form</sales_order_shipment_view_form>
                    <sales_order_shipment_view_tracking>Iparcel_Shipping_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
                    <sales_order_totals>Iparcel_Shipping_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Iparcel_Shipping_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Iparcel_Shipping_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_list>Iparcel_Shipping_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order_totals>Iparcel_Shipping_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>Iparcel_Shipping_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>Iparcel_Shipping_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
            <shippingip>
                <class>Iparcel_Shipping_Block</class>
            </shippingip>
            <tax>
                <rewrite>
                    <checkout_tax>Iparcel_Shipping_Block_Tax_Checkout_Tax</checkout_tax>
                </rewrite>
            </tax>
        </blocks>
        <helpers>
            <shippingip>
                <class>Iparcel_Shipping_Helper</class>
            </shippingip>
            <sales>
                <rewrite>
                    <data>Iparcel_Shipping_Helper_Sales_Data</data>
                </rewrite>
            </sales>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <shippingip_totals_taxduty>
                        <class>shippingip/tax_totals_taxduty_quote</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </shippingip_totals_taxduty>
                    <shippingip_totals_tax>
                        <class>shippingip/tax_totals_tax_quote</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </shippingip_totals_tax>
                    <shippingip_totals_duty>
                        <class>shippingip/tax_totals_duty_quote</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </shippingip_totals_duty>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <shippingip_totals_taxduty>
                        <class>shippingip/tax_totals_taxduty_invoice</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shippingip_totals_taxduty>
                    <shippingip_totals_tax>
                        <class>shippingip/tax_totals_tax_invoice</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shippingip_totals_tax>
                    <shippingip_totals_duty>
                        <class>shippingip/tax_totals_duty_invoice</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shippingip_totals_duty>
                    <discount>
                        <after>nominal,subtotal,msrp,freeshipping,tax_subtotal,weee</after>
                        <before>shipping</before>
                    </discount>
                    <shipping>
                        <after>discount</after>
                        <before>tax_shipping</before>
                    </shipping>
                    <tax_shipping>
                        <after>shipping</after>
                        <before>tax</before>
                    </tax_shipping>
                    <tax>
                        <after>tax_shipping</after>
                        <before>grand_total</before>
                    </tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shippingip_totals_taxduty>
                        <class>shippingip/tax_totals_taxduty_creditmemo</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shippingip_totals_taxduty>
                    <shippingip_totals_tax>
                        <class>shippingip/tax_totals_tax_creditmemo</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shippingip_totals_tax>
                    <shippingip_totals_duty>
                        <class>shippingip/tax_totals_duty_creditmemo</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </shippingip_totals_duty>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <default>
        <carriers>
            <i-parcel>
                <active>1</active>
                <model>shippingip/carrier_iparcel</model>
                <title>I-Parcel</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <username>custtest</username>
                <password>custtest</password>
                <autoship>1</autoship>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <whitelabelpay>i-parcel</whitelabelpay>
                <whitelabelship>i-parcel</whitelabelship>
            </i-parcel>
        </carriers>
        <payment>
            <iparcel>
                <active>1</active>
                <model>shippingip/payment_iparcel</model>
            </iparcel>
        </payment>
        <iparcel>
            <config>
                <submit_parcel>1</submit_parcel>
                <timeout>3</timeout>
            </config>
            <scripts>
                <jquery>0</jquery>
                <scripts>0</scripts>
            </scripts>
            <tax>
                <mode>0</mode>
                <tax_duty_label><![CDATA[Tax&Duty]]></tax_duty_label>
                <tax_label>Tax</tax_label>
                <duty_label>Duty</duty_label>
            </tax>
        </iparcel>
        <external_api>
            <sales>
                <enabled>1</enabled>
                <transactional_emails>0</transactional_emails>
                <order_status>complete</order_status>
            </sales>
        </external_api>
        <sales>
            <totals_sort>
                <shippingip_total_taxduty>35</shippingip_total_taxduty>
                <shippingip_total_tax>36</shippingip_total_tax>
                <shippingip_total_duty>37</shippingip_total_duty>
            </totals_sort>
        </sales>
        <dev>
            <i-parcel>
                <debug>0</debug>
            </i-parcel>
        </dev>
        <catalog_mapping>
            <config>
                <auto_upload>0</auto_upload>
            </config>
            <upload>
                <step>100</step>
                <offset>0</offset>
            </upload>
            <attributes>
                <price>1</price>
            </attributes>
        </catalog_mapping>
    </default>
</config>
