<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_GlobaleCommerce>
            <version>3.0.1</version>
        </Iparcel_GlobaleCommerce>
    </modules>
    <frontend>
        <routers>
            <ipglobalecommerce>
                <use>standard</use>
                <args>
                    <module>Iparcel_GlobaleCommerce</module>
                    <frontName>ipglobalecommerce</frontName>
                </args>
            </ipglobalecommerce>
            <shippingip>
                <use>standard</use>
                <args>
                    <module>Iparcel_GlobaleCommerce</module>
                    <frontName>shippingip</frontName>
                </args>
            </shippingip>
        </routers>
        <layout>
            <updates>
                <ipglobalecommerce>
                    <file>externalshipping.xml</file>
                </ipglobalecommerce>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ipglobalecommerce after="Mage_Adminhtml">Iparcel_GlobaleCommerce_Adminhtml</ipglobalecommerce>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ipglobalecommerce>
                    <file>externalsales.xml</file>
                </ipglobalecommerce>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <salesrules>
                                            <title>i-parcel Sales Rules Synchronization</title>
                                        </salesrules>
                                        <external_api>
                                            <title>i-parcel External API</title>
                                        </external_api>
                                        <iparcel>
                                            <title>i-parcel Configuration</title>
                                        </iparcel>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <ipglobalecommerce>
                <class>Iparcel_GlobaleCommerce_Model</class>
                <resourceModel>ipglobalecommerce_resource</resourceModel>
            </ipglobalecommerce>
            <ipglobalecommerce_resource>
                <class>Iparcel_GlobaleCommerce_Model_Resource</class>
                <entities>
                    <api_order>
                        <table>iparcel_shipping_api_order</table>
                    </api_order>
                    <cpf>
                        <table>iparcel_shipping_cpf</table>
                    </cpf>
                    <cpf_order>
                        <table>iparcel_shipping_cpf_order</table>
                    </cpf_order>
                    <cpf_quote>
                        <table>iparcel_shipping_cpf_quote</table>
                    </cpf_quote>
                    <parcel>
                        <table>iparcel_shipping_parcel</table>
                    </parcel>
                </entities>
            </ipglobalecommerce_resource>
        </models>
        <events>
            <sales_order_load_after>
                <observers>
                    <iparcel_sales_order_load_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Order_Observer</class>
                        <method>after_load</method>
                    </iparcel_sales_order_load_after_observer>
                </observers>
            </sales_order_load_after>
            <sales_order_place_after>
                <observers>
                    <iparcel_sales_order_place_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Order_Observer</class>
                        <method>after_place</method>
                    </iparcel_sales_order_place_after_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_save_before>
                <observers>
                    <iparcel_sales_order_save_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Order_Observer</class>
                        <method>before_save</method>
                    </iparcel_sales_order_save_before_observer>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <iparcel_sales_order_save_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Order_Observer</class>
                        <method>after_save</method>
                    </iparcel_sales_order_save_after_observer>
                </observers>
            </sales_order_save_after>
            <sales_quote_load_after>
                <observers>
                    <iparcel_sales_quote_load_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Quote_Observer</class>
                        <method>after_load</method>
                    </iparcel_sales_quote_load_after_observer>
                </observers>
            </sales_quote_load_after>
            <sales_quote_save_after>
                <observers>
                    <iparcel_sales_quote_save_after_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Quote_Observer</class>
                        <method>after_save</method>
                    </iparcel_sales_quote_save_after_observer>
                </observers>
            </sales_quote_save_after>
            <sales_quote_save_before>
                <observers>
                    <iparcel_sales_quote_save_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Sales_Quote_Observer</class>
                        <method>before_save</method>
                    </iparcel_sales_quote_save_before_observer>
                </observers>
            </sales_quote_save_before>
            <model_load_before>
                <observers>
                    <iparcel_model_load_before_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Observer</class>
                        <method>createCheckState</method>
                    </iparcel_model_load_before_observer>
                </observers>
            </model_load_before>
            <adminhtml_cache_refresh_type>
                <observers>
                    <iparcel_adminhtml_cache_refresh_type_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Observer</class>
                        <method>removeExtendFile</method>
                    </iparcel_adminhtml_cache_refresh_type_observer>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_all>
                <observers>
                    <iparcel_adminhtml_cache_flush_all_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Observer</class>
                        <method>removeExtendFile</method>
                    </iparcel_adminhtml_cache_flush_all_observer>
                </observers>
            </adminhtml_cache_flush_all>
            <adminhtml_cache_flush_system>
                <observers>
                    <iparcel_adminhtml_cache_flush_system_observer>
                        <type>singleton</type>
                        <class>Iparcel_GlobaleCommerce_Model_Observer</class>
                        <method>removeExtendFile</method>
                    </iparcel_adminhtml_cache_flush_system_observer>
                </observers>
            </adminhtml_cache_flush_system>
        </events>
        <resources>
            <ipglobalecommerce_setup>
                <setup>
                    <module>Iparcel_GlobaleCommerce</module>
                    <class>Iparcel_GlobaleCommerce_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ipglobalecommerce_setup>
            <ipglobalecommerce_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ipglobalecommerce_write>
            <ipglobalecommerce_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ipglobalecommerce_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view_form>Iparcel_GlobaleCommerce_Block_Adminhtml_Sales_Order_Shipment_View_Form</sales_order_shipment_view_form>
                    <sales_order_shipment_view_tracking>Iparcel_GlobaleCommerce_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
                </rewrite>
            </adminhtml>
            <ipglobalecommerce>
                <class>Iparcel_GlobaleCommerce_Block</class>
            </ipglobalecommerce>
        </blocks>
        <helpers>
            <ipglobalecommerce>
                <class>Iparcel_GlobaleCommerce_Helper</class>
            </ipglobalecommerce>
            <sales>
                <rewrite>
                    <data>Iparcel_GlobaleCommerce_Helper_Sales_Data</data>
                </rewrite>
            </sales>
        </helpers>
    </global>
    <default>
        <payment>
            <iparcel>
                <active>1</active>
                <model>ipglobalecommerce/payment_iparcel</model>
            </iparcel>
        </payment>
        <iparcel>
            <config>
                <submit_parcel>1</submit_parcel>
                <timeout>3</timeout>
            </config>
            <scripts>
                <jquery>0</jquery>
                <scripts>0</scripts>
            </scripts>
        </iparcel>
        <external_api>
            <sales>
                <enabled>1</enabled>
                <transactional_emails>0</transactional_emails>
                <order_status>complete</order_status>
            </sales>
        </external_api>
        <dev>
            <i-parcel>
                <debug>0</debug>
            </i-parcel>
        </dev>
    </default>
</config>
